<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página incial</title>

    </head>
  
    <div style="width:100%; height:35%; background-color:#4682B4" align="center" >
    <h1>Ajuda nescessaria</h1>
    </div>
     <hr>
     <br><br><br><br>
   
     <div style="width:100%,height:100%"  align="center">
     <p> Pagina criada com intuito de receber doações de matériais como cadeiras de rodas,moletas ou algo do tipo que ajude a alguém com nescessidades especiais, e doar tais produtos a pessoas com poucas condicões financeiras  </p> 
 
     </div>
     <br><br><br><br><br><br><br><br><br>
    <hr>
    <button type="button" class="btn btn-info">
    <a href="{{ url_for('cadastrar')}}">Cadastra-se e doe</a>
     </button>
    <br>
    <hr>
    <button  background-color:#4682B4>
    <a href="{{ url_for('lista')}}">Ver pessoas que ja estão ajudando</a>
    </button>
</body>
</html>


